<form method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username" name="user1">
  </div>
  <br>
<button type="submit" class="btn btn-primary" name="Delete">Delete</button>
</form>
