<form>
Enter ID whose Data is to be Updated: <input type="number" placeholder="Enter ID"/>
<input type="button" value="Update Data" onclick="window.location='@Url.Action("Update","Student")'"/>

</form>