<form method="post">
    <div>
        <input type ="number" name="id" placeholder="Enter ID"/>
        <input type="text" name="name" placeholder="Enter name"/>
        <input type="text" name="pass" placeholder="Enter Password"/>
        <input type="text" name="city" placeholder="Enter City"/>
    </div>

    <br>

    <div>
        <input type="submit" value="Update"/>
    </div>
</form>